@charset "utf-8";
/* CSS Document */

body{
	font-family: 'Raleway', sans-serif;
}
*{
	padding: 0px;
	margin: 0px;

}
#nav1{
	width: 100%;
	height: 70px;
	line-height: 70px;
	background: #2895cc;
}
#nav1 h1{
	float: left;
	font-size: 2.5em;
	margin-left: 15px;
}
#nav1 h1 a{
	text-decoration: none;
	color: white;
}
#nav1 ul{
	float: right;
	margin-right: 15px;
}
#nav1 ul li{
	display: inline-block;
	list-style-type: none;
}
#nav1 ul li a{
	text-decoration: none;
	color: white;
	padding: 25px;
}
#nav1 ul li:hover{
	background: #1684bb;
}
#active{
	background: #1684bb;
}
#main-content{
	width: 100%;
	height: 880px;
	background: url(main.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	color: #4c4a4a;
	line-height: 30px;
}
#content{
	width: 100%;
	height: 880px;
	background: url(main.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	color: #4c4a4a;
	top: 50%;
	line-height: 30px;
}
#service{
	background: none;
	width: 400px;
	height:  60px;
	line-height: 60px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	font-weight: 100;
	display: inline-block;

}
#service:hover{
	background: box-shadow: 1px 5px 2px 2px rgba(84, 69, 69, 0.53);
	transition: all ease-in-out 0.45s;
}
#service a{
	color: #1684bb;
	text-decoration: none;
	padding: 10px;
}
#third{
	width: 100%;
	height: 400px;
}
#third1{
	width: 624.2px;
	height: 450px;
	padding: 5px;
	display: inline;
	float: left;
	background: none;
}
#footer{
	text-align: center;
}
#form{
	width: 50%;
	height: 500px;
	background: #1dc5f9;
	color: white;
	line-height: 35px;
	background-size: cover;

}
form{
	margin-left: 50px;
}
#name{
	width: 200px;
	height: 20px;
	padding: 3px;
	border-radius: 5px;
	border: 1px solid #CCC;
}
#com{
	width: 300px;
	height: 150px;
	border-radius: 5px;
	padding: 7px;
}
#sub{
	width: 100px;
	background: green;
	border-radius: 5px;
	height: 50px;
	border: 0px;
	color: white;
	font-size: 18px;
}
#extr{
	width: 500px;
	text-align: left;

}
#construction{
	text-align: center;
}


.wrap{
	width: 400px;
	overflow: hidden;
	margin: auto;
}

.wrap input {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
	border-radius: 10px;
	border:1px solid silver;
	padding: 5px;
}

.main{
	width: 1900px;
	height: 980px;
	background: url(main.jpg) no-repeat;
	background-size: cover;
}

.wrap .btn-login{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding: 5px;
	width: 212px;
	height: 40px;
	background-color: #3498db;
	color: #fff;
	border-radius: 3px;
	border: 0;
}

.wrap h2{
	margin-bottom: 30px;
}


button {
    font-family: "Raleway";
    font-size: 24px;
    padding: 1em 2em;
    margin: 3px;
    border: 0;
    outline: 0;
    color: white;
    background-color: #2196F3;
    text-transform: uppercase;
    border-radius: 0.15em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position:absolute; 
    transition: .5s ease;
    top: 50%;
    overflow: hidden;
    position: relative;
}

button .ripple {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}